// Import page-specific CSS files here.
@import "home";
@import "pokemons";
@import "pokemons_search";
@import "moves";
@import "games_show";
@import "teams_show";
@import "selected_pokemons_new";
@import "battle";
@import "battle_result";
