<h1>Pokebattles home</h1>
<p>Welcome to Poke Battles </p>

<%= link_to "Pokemon List", pokemons_path %>

<%= link_to "Move List", moves_path %>


<%= link_to "Start Game", games_path, data: { turbo_method: :post }%>
